<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="" />
    <title>Dashboard Quản Lý Bán Hàng</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/styles.css" rel="stylesheet" />
    <!--    CSS Sản phẩm-->
    <style>
        p {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body class="sb-nav-fixed">
    <!-- Navbar cố định -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="/">
            Quản Lý Bán Hàng</a>

        <div class="d-flex justify-content-between w-100">
            <button class="btn btn-link btn-sm order-1 order-lg-0   " id="sidebarToggle" href="#!">
                <i class="fas fa-bars fa-xl"></i>
            </button>
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Tìm kiếm..." aria-label="Tìm kiếm..."
                        aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                            class="fas fa-search"></i></button>
                </div> -->
            </form>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown ">
                    <!-- Icon user -->
                    <% if (employeeId) { %>
                        <div class="text-center d-flex justify-content-center align-items-center">
                            <p class="text-bg-danger m-0 p-0 fw-bold rounded px-2">
                                <%= role %>
                            </p>
                            <a class="nav-link dropdown-toggle" href="/employees/detail/<%= employeeId %>">
                                <i class="fas fa-user fs-4"></i>
                            </a>
                        </div>
                        <% } else { %>
                            <a class="btn btn-outline-primary nav-link" href="/login">
                                Đăng nhập
                            </a>
                            <% } %>
                </li>

            </ul>
        </div>
    </nav>
    <!-- Sidebar cố định -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Quản lý</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Tổng quan
                        </a>
                        <div class="sb-sidenav-menu-heading">Chính</div>
                        <a class="nav-link" href="/orders">
                            <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                            Đơn hàng
                        </a>
                        <a class="nav-link" href="/bills">
                            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                            Lịch sử đơn hàng
                        </a>
                        <% if (employeeId && role==="admin" ) { %>
                            <a class="nav-link" href="/products">
                                <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                                Sản phẩm
                            </a>
                            <% } %>
                                <a class="nav-link" href="/customers">
                                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                    Khách hàng
                                </a>
                                <% if (employeeId && role==='admin' ) { %>
                                    <a class="nav-link" href="/employees">
                                        <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                                        Nhân viên
                                    </a>
                                    <% } %>
                                        <div class="sb-sidenav-menu-heading">Cài đặt</div>
                                        <a class="nav-link" href="/settings">
                                            <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                                            Cài đặt
                                        </a>
                                        <% if(employeeId){ %>
                                            <div class="sb-sidenav-menu-heading">Đăng xuất</div>
                                            <!-- Đăng xuất với màu đỏ -->
                                            <a class="nav-link text-danger" href="/logout"
                                                onclick="return confirm('Bạn thực sự muốn đăng xuất!')">
                                                <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"
                                                        style="color:red"></i>
                                                </div>
                                                Đăng xuất
                                            </a>
                                            <% }else{ %>
                                                <div class="sb-sidenav-menu-heading">Đăng nhập</div>
                                                <!-- Đăng xuất với màu đỏ -->
                                                <a class="nav-link text-success" href="/login">
                                                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"
                                                            style="color:green"></i></div>
                                                    Đăng nhập
                                                </a>
                                                <% } %>
                    </div>
                </div>

            </nav>
        </div>

        <!-- Vùng nội dung chính -->
        <div id="layoutSidenav_content">
            <main>
                <%- include(content) %>
            </main>
        </div>
    </div>


    <script src="/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>

</html>